
	html, body { height: 100%;}

	body { background-color: #ebebeb; margin: 0; font-family: 'Roboto', sans-serif; }
	header, footer { height: 7%;}
	header { background-color: dodgerblue; padding: 5px;}
	footer {position: fixed; margin-top: -50px; background-color: #ebebeb; width: 100%;}
	header h1 { font-weight: 500; margin: 0; }
	
	.hide { display: none; }


	#getMove, #selectMoves{ background-color: #00B233; }
	#clearMoves { background-color: #B20000;}
	
	button[disabled="disabled"]#getMove { background-color: #ccc;}

	#getMove,#selectMoves, #clearMoves {
		font-size: 1.75rem;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 1px solid #cccccc;
		cursor: pointer;
		width: 48%;
		max-width: 300px;
	}

	#selectBeltType { padding-left: 30px; }


	#displayMove p{
		font-size: 24px;
		height: 56px;
	}
	#moveCount { font-weight: 300; clear: both; font-size: 1rem;}

	#previousList {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}
	#previousList ul { padding-left: 10px; list-style-position: inside;}

	#container { display: flex; flex-direction: column; height: 100%;}
	#content {flex: 1 1 100%; overflow-y: auto; min-height: 0px; margin-bottom: 20%;}
	#selectionList { padding: 0 0 0 10px;}
	#selectionList li { list-style: none; font-size: .75rem; margin: 0;}

	#previousList .wrapper ul {
	}

	@media screen and (max-width: 414px), (max-height: 736px) {
		header, main, footer { width: 100%;}
  		footer {
	/*		position: absolute;
			bottom: 0;
			align-self: flex-end;
			-webkit-justify-content: space-around;
			justify-content: space-around;
	*/
		}
	}
