
	html, body { height: 100%;}

	body { background-color: #ebebeb; margin: 0; font-family: sans-serif; }
	header, footer { height: 7%;}
	footer {position: fixed; margin-top: -50px; background-color: #ebebeb;}
	header h1 { margin: 0; }

	main {  }

	
	.hide { display: none; }

	

	#getMove{ background-color: yellowgreen; }
	#resetMoves { background-color: royalblue;}


	#getMove, #resetMoves {
		font-size: 1.75rem;
		border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		-webkit-border-radius: 10px 10px 10px 10px;
		border: 1px solid #cccccc;
		cursor: pointer;
		width: 48%;
		max-width: 300px;
	}

	h1 { font-size: 32px; background-color: dodgerblue; padding: 5px; }

	p#displayMove {
		font-size: 24px;
		height: 56px;
	}

	#previousList {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
	}	

	#container { display: flex; flex-direction: column; height: 100%;}
	#content {flex: 1 1 100%; overflow-y: auto; min-height: 0px; margin-top: 10%; margin-bottom: 20%;}

	#previousList .wrapper ul {
	}

	@media screen and (max-width: 414px), (max-height: 736px) {
		header, main, footer { width: 100%;}
  		footer {
	/*		position: absolute;
			bottom: 0;
			align-self: flex-end;
			-webkit-justify-content: space-around;
			justify-content: space-around;
	*/
		}
	}
